doctype html
html
 head
  style
   include ../../../config/style-email.css
 body

  table.body
   tr
    td.body

     table.box
      tr
       td.box

        table.layout
         tr
          td.header
           table
            tr
             td.logo
              img(src=logo)
             td.banner
              h1 Account Services

         tr
          td.content
           h1 Hi, #{name}
           p We got a request to reset your password.
           p Click the button below to reset your password:
            a.reset-btn(href=hashLink) Reset Password
           p Or copy and paste the following link into your browser:
            pre.reset-link #{hashLink}
           p Or copy and paste the following token into your app:
            pre.reset-link #{hash}
           p If you do nothing, your password won't be changed.

         tr
          td.footer
           .feedback
            p If you need help, please, 
             span
              a(href=`mailto:${supportEmail}?subject=I can not login into my account&body=`) let us know
            p Big Company, Ltd.
